@import "../Mixins/mixins";

.Login {
	@include flex-column;
	max-height: 100vh;
	div {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 100%;
	}
}
.TitleLogin {
	@include flex-column;
    margin-top: 20%;
	h1 {
		font-size: 2em;
		font-weight: bolder;
		margin-bottom: 3%;
	}
	h3 {
		font-size: 1em;
		color: #CFCFCF;
	}
}  
.Form {
	@include flex-column;
	width: 90%;
	div {
		margin-top: 8%;
	}
}
.CopyRight {
	position: absolute;
	bottom: 0%;
	margin-bottom: 2%;
}
.Link {
	color: #2196f3 !important;
}
