@import "../Mixins/mixins";

.Register {
  @include flex-column;
  max-height: 100vh;
  div {
    @include flex-column;
  }
}

.LogoRegister {
  margin-top: 15%;
  width: 100%;

  img {
    width: 50%;
  }
}

.Form {
  div {
    margin-top: 4%;
    width: 100%;
  }
}

.Form {
  button {
    margin-top: 5%;
  }
}

.TitleRegister {
  margin-top: 10%;
  width: 100%;
  h1 {
    font-size: 2em;
    font-weight: bolder;
    margin-bottom: 3%;
  }
  h3 {
    font-size: 1em;
    color: #cfcfcf;
  }
}

.logo-photo {
	border:1px solid #2196f3;
  border-radius: 10px;
  margin: 5px;
	width: 40px;
	height: 40px;
}
