*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html{
    font-family: "Montserrat", sans-serif;
  }
  Body{
    background: rgb(255, 255, 255);
  }
  .Home{
    font-family: "Montserrat-ExtraBold";
    size: 100pt;
    text-align: center;
    letter-spacing: -0.5pt;
    color: rgb(48, 53, 59);
  }
