@mixin flex {
    display: flex;
	align-items: center;
	justify-content: center;
}

@mixin flex-column {
    display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

@mixin flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@mixin flex-around {
    display: flex;
	align-items: center;
	justify-content: space-around;
}

@mixin container-items {
  border:1px solid black;
  padding: 10px;
  margin:10px;
}

@mixin navbar {
    margin: 0.8em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90VW;
	span {
		color: #26c7dc;
	}
}

@mixin links {
    &:link {
		text-decoration: none;
		color: inherit;
	}
	&:visited {
		text-decoration: none;
		color: inherit;
	}
	&:active {
		text-decoration: none;
		color: inherit;
	}
}

@mixin material-primary-button {
    color: #fff !important;
    background-color: #2196f3;
}