
.TitleContact {
    margin: 14% 6% 10% 6%;
  h1 {
    font-size: 2em;
    font-weight: bolder;
    margin-bottom: 3%;
  }
  h3 {
    font-size: 1em;
    color: #CFCFCF;
  }
  }

  .ContactLink {
    margin-top: 2%;
    font-size: 0.86rem;
    border-bottom: 1px solid;
  }