@import "../Mixins/mixins";

.food-item{
  @include container-items;
}
.txt-alert{
  color: red;
}
.favFood-container{
  @include flex-wrap;
  flex-direction: column;
  &__items{
    width: 80%;
    @include container-items;
    &-item{
      margin: 5px;
    }
  }
}
.photo-allergen{
  width: 80px;
}