@import "../Mixins/mixins";

.Onboarding {
	@include flex-column;
	max-height: 100vh;
}
.Logo {
	@include flex;
	margin-top: 20%;
	width: 50%;
	img {
		width: 100%;
	}
}
.ImagesSlider {
	@include flex-column;
	width: 232px;
	height: 300px;
	margin-top: 20%;
}
.TextSlider {
	@include flex;
	text-align: center;
	width: 90%;
}

.MuiMobileStepper-root {
	width: 90%;
	background: white !important;
	bottom: 0%;
	position: absolute;
}
