@import "../Mixins/mixins";

.favFood-container{
  @include flex-wrap;
  flex-direction: column;
  &__items{
    width: 80%;
    @include container-items;
    &-item{
      margin: 5px;
    }
  }
}
.photo-allergen{
  width: 80px;
  &-big{
    width: 180px;
  }
}

.FoodButton {
  margin: 1% 0% 10% 0% !important;
}

