@import "../Mixins/mixins";

.OkRegister {
    @include flex-column;
}

.LogoOkRegister {
  margin-top: 8%;
  width: 100%;
  @include flex;
  position: absolute;
  top: 1%;
  img {
    width: 40%;
  }
}