@import "../Mixins/mixins";

.Splash {
	@include flex-column;
	max-height: 100vh;
}
.Title {
	@include flex-column;
	margin-top: 35%;
	h1 {
		font-size: 3em;
		font-weight: bolder;
		margin-bottom: 3%;
	}
	h3 {
		font-size: 1.5em;
		color: #CFCFCF;
	}
}
.Img {
	@include flex;
	position: absolute;
	bottom: 0%;
    touch-action: manipulation;
}


