@import "../Mixins/mixins";

.txt-green {
  color: green;
}
.items-container {
  @include flex-wrap;
  &__items {
    @include container-items;
  }
}
.photo-allergen {
  width: 80px;
  &-big{
    width: 180px;
  }
}

.FoodCardButton {
  margin: 6% 0% 4% 0% !important;
}
.container-title-msg{
  @include flex;
}
