@import "../Mixins/mixins";

.FoodContainer {
  margin-top: 20%;
}

.food-item{
  @include container-items;
}
.txt-alert{
  color: red;
}
.items-container{
  @include flex-wrap;
  &__items{
    @include container-items;
  }
}
.container-search-input{
  margin:10px;
}