@import "./styles/Mixins/mixins";


*{
  padding: 0;
  margin: 0;
  text-align: center;
}

html {
	background-color: white;
}

.navbar {
	@include navbar;
}

a {
	@include links;
}

.MuiButton-containedPrimary {
    @include material-primary-button;
}
