@import "../Mixins/mixins";

.Home {
	background-color: white;
	max-height: 100vh;
	overflow: hidden;
}

.Footer {
	position: absolute;
	width: 100%;
	height: 40px;
	bottom: 0%;
	padding: 0;
	margin-bottom: 3%;
	@include flex-around;
	li {
		list-style: none;
		button {
			border: none;
			background-color: white;
		}
	}
}
.HomeButtons {
	@include flex-column;
	height: 40%;
	margin-top: 30%;
}
.HomeLogo {
	@include flex;
}

.p {
	margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
